{# cocos live #}
{# http://www.cocoslive.net #}
{# License: See LICENSE file #}
{% extends "page.html" %}

{% block sidebar %}
{% endblock %}

{% block content %}
<p>This is a list of all games currently using Cocos Live for online score submissions:</p>

<p>Total number of games: {{total}}</p>
<table class="stats">
<thead>
  <tr class="head"><th>Icon</th><th>View High Scores</th><th>Total number of Scores</th></tr>
</thead>
<tbody>
{% for game in games %}
<tr class="{% cycle row1,row2 %}">
  <td><img src="/icon/game?gamename={{game.name}}" title="{{game.name}}"></td>
  <td><a href="game-scores?gamename={{game.name}}" title="{{game.name}} high scores">{{game.name}}</a></td>
  <td>{{game.nro_scores}}</td>
</tr>
{% endfor %}
</tbody>
</table>

{% endblock %}
