{# cocos live #}
{# http://www.cocoslive.net #}
{# License: See LICENSE file #}
{% extends "page.html" %}

{% block sidebar %}
{% endblock %}

{% block content %}

<h2 class="fancy">Client Tools</h2>
<p>cocos Live client is included within the <span style="font-style:italic;">cocos2d for iPhone</span> package. You can download the latest version here:</p>
<div style='padding:5px; background-color:#eee'><span style='font-weight:bold'>Download:</span> <a href="http://code.google.com/p/cocos2d-iphone">http://code.google.com/p/cocos2d-iphone</a></div>
<br/>

<p>For information on how to use, please read this post: <a href="http://blog.sapusmedia.com/2009/02/cocos-live-high-score-server-for.html">cocos Live: a high score server for cocos2d</a>. The client is coded in objective-c and can be used with <a href="http://code.google.com/p/cocos2d-iphone">cocos2d</a> or with any other engine like <a href="http://code.google.com/p/sio2">SIO2</a> or <a href="http://code.google.com/p/oolongengine">Oolong</a>.</p>

Useful links:
<ul>
  <li><a href="http://groups.google.com/group/cocoslive-discuss">cocos Live discussion forum</a></li>
  <li><a href="http://code.google.com/p/cocoslive">cocos Live source code</a></li>
</ul>

<h2 class="fancy">Web Widget</h2>
Installing a cocos Live widget on your site is very simple. Please see the following examples to see how to use them:
<ul>
<li><strong><a href="/static/widget_example1.html" title="widget example 1">Example 1</strong></a>: This example shows how to embed one widget on your homepage</li>
<li><strong><a href="/static/widget_example2.html" title="widget example 2">Example 2</strong></a>: This example shows how to embed two widgets on your homepage</li>
</ul>

{% endblock %}
